*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7e3e3;
}
.TopNavbar{
    display: flex;
    height: 100px;
    background-color: white;
   
}
.TopNavbar img{
    margin-right: 20px;
    height: 80px;
    margin-top: 5px;
    margin-left: 10px;
}
.TopNavbar img:hover{
    border-style:inset;
    border-color: rgb(102, 151, 250);
    border-radius: 9px;
}
.TopNavbar h1{  color: rgb(31, 69, 107);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 12px;
    margin-bottom: 0;
}
.TopNavbar p{
    margin-top: 5px;
}
.NavList{
    display: flex;
    /*justify-content: space-evenly;*/
    border-color: gray;
    background-color: rgba(46, 42, 42, 0.897);
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
   
}
.NavList li{
    list-style: none;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
.NavList li a{
    text-decoration: none;
    color: white;
    
    
}
.NavList li a i{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.NavList li a:hover{
    background-color: #555;
    padding: 5px;
    border-radius: 9px;
    padding: 5px;
}
.UpperBody{
    display: flex;
    height: 410px;
    background-color: white;
    
}

.UpperBodyContainer{
    display: flex;
    justify-content: space-evenly;
}
.UpperBodyContainer img {
    width: 100%;
    height: 400px;  
}




.UpperBody h2{
    color: rgba(6, 6, 157, 0.716);
    background-color: #cac7c7;
    width: 50%;
    height: 395px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 2rem;
    
}


.slider-container {
    position: relative;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
    background-color: white;
  }
  
  .card {
    flex: 0 0 auto;
    width: 300px;
    height: 150px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
.card img{
    height: 80px;
    width: 100px;
  }

  .card img:hover{
    background-color: rgb(204, 201, 201);
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  