*{
    margin: 0;
    padding: 0;
}
/* Styling for Home Page */
.Navbar{
   display: flex;
   background-color: white;
   color: black;
   height: 70px;
   border-style: outset;
   border-color: black;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   
}
.Navbar h1{
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Navbar img{
    width: 200px;
    height: 70px;
    image-resolution:initial;
}
.Navbar1{
    border-style:inset;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 5px;
    width: 50%;
    margin-right: 5px;
}
.Navbar2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:darkred;
    height:40px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: inset;
}
.Navbar2 a{
    color: white;
    font-size: 1.2rem;
    margin-top: 5px;
   
}
.Navbar3{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.Navbar3 img{
    width: 60%;
    height: 400px;
    border-style: inset;
}
.Navbar4{
    margin-left: 5px;
    border-style: groove;
    width: 100%;
}
.Navbar4 h2{

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    justify-content: space-evenly;
}


/* Styling For Contact Page */

.ContactNavbar{
    background-color: darkblue;
    color: white;
    border-style: ridge;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    justify-content: space-evenly;
}
.ContactNavbar h3{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.5rem;
}
