*{
    margin: 0;
    padding: 0;
}
/* Styling for Home Page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}
.TopNav{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    background-color:white;
    display: flex;
    align-items: center;
    color: #333;
    padding: 10px;
}
.TopNav img{
    width: 200px;
    height: 70px;

}
.TopNav img :hover{
    background-color: #333;
    color: #333;
}
.TopNav1{
    flex-grow: 1;
    
}
.TopNav1 h2{
    color: rgb(31, 69, 107);
    margin-left: 25px;
    margin-top: 5px;    
    font-family: Arial, sans-serif;
    font-weight:900;
    font-size: 2.5rem;
}
.TopNav1 p{
    color: black;
    font-family: Arial, sans-serif;
    margin-left: 25px;
}
@media screen and (max-width : 768px) {
    .TopNav{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .TopNav img {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
   
}
.TopNav2{
    margin-right: 10px;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
   color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}


.Navbar{
    display: flex;
    margin-top: 5px;
}
.Navbar img:hover{
    background-color:#555;
    
}
.Navbar img{
    height: 500px;
    width: 60%;
    border-style:outset;
    border-color: #333;
}
.blink{
    
    margin-left: 10px;
    border-style: solid;
    border-color: #333;
    width: 100%;
    background-color: white;
}
.blink h1{
    margin-top: 10px;
    margin-left: 10px;
}
.blink h1:hover{
    background-color:gray;
}
/* Define keyframes for the blink effect */
@keyframes blink {
    0% { opacity: 1; } /* Start with full opacity */
    50% { opacity: 0; } /* Blink to hidden */
    100% { opacity: 1; } /* Return to full opacity */
}

/* Apply the blink animation to an element */
.blink {
    animation: blink 2s infinite; /* Blink animation lasts for 1 second and repeats infinitely */
}


select {
    padding: 5px;
    cursor: pointer;
    outline: none;
    background: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    width: 100px;
  }
  
  /* Style for the options within the select element */
  option {
    padding: 10px;
    cursor: pointer;
    color: gray;
  }
  
  /* Style for when an option is hovered over */
  option:hover {
    background-color: #e0e0e0;
  }
container {
    padding: 20px;
}